// This file was created by MkExe ver. 1.9.19 [2004-12-01 15:14:23]

#define VERSIONINFO_1 1
VERSIONINFO_1 VERSIONINFO

FILEVERSION 1, 0, 1, 37

FILEOS 0x04L

FILETYPE 0x01L

{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "TK 'Nix' (www.nix.ru)\0"
			VALUE "FileDescription", "exec\0"
			VALUE "FileVersion", "1.0.2.37\0"
			VALUE "Date", "2017-04-19\0"
			VALUE "Time", "07:22:50\0"
			VALUE "ProductName", "exec\0"
			VALUE "LegalCopyright", "Copyright (c)  Gerasim# 2004-05\0"
			VALUE "OriginalFilename", "exec.exe\0"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 0x04E4
	}
}

128           ICON    DISCARDABLE     "nix.ico"
