// This file was created by MkExe ver. 1.0.10.22 [2015-07-15 00:19:54]

#define VERSIONINFO_1 1
VERSIONINFO_1 VERSIONINFO

FILEVERSION 1, 0, 0, 10
PRODUCTVERSION 1, 0, 0, 1

FILEOS 0x40004L
// FILEOS 0x0L - 
// FILEOS 0x1L - DOS
// FILEOS 0x2L - for 16-bit Presentation Manager
// FILEOS 0x3L - for 32-bit Presentation Manager
// FILEOS 0x4L - NT

FILETYPE 0x01L
// FILETYPE 0x00L - unknown
// FILETYPE 0x01L - Application
// FILETYPE 0x02L - DLL
// FILETYPE 0x03L - Device Driver
// FILETYPE 0x04L - Font
// FILETYPE 0x05L - Virtual Device
// FILETYPE 0x07L - Static link Library

{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "Gerasim#\0"
			VALUE "FileDescription", "saveJpg\0"
			VALUE "FileVersion", "1.0.0.10\0"
			VALUE "Date", "2016-12-19\0"
			VALUE "Time", "18:29:27\0"
			VALUE "ProductName", "saveJpg\0"
			VALUE "ProductVersion", "1.0.0.1\0"
//   VALUE "InternalName", "saveJpg\0"
			VALUE "LegalCopyright", "Copyright (c)  Gerasim# 2015-16\0"
			VALUE "OriginalFilename", "saveJpg.exe\0"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 0x04E4
	}
}
128           ICON    DISCARDABLE     "saveJpg.ico"
